﻿
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login_v1/css/main.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <!--===============================================================================================-->
</head>
<body>
    <div class="login-page">
        <div class="form">
            <form id="registerForm" class="register-form">
                <input id="id" type="text" placeholder="id" />
                <input id="usernameCreate" type="text" placeholder="name" />
                <input id="passwordCreate" type="password" placeholder="password" />
                <input id="emailCreate" type="text" placeholder="email address" />
                <input class="w3-button w3-green" type="button" value="Create" onclick="SignUp()"/> 
               
                
                <p class="message">Already registered? <a href="#">Sign In</a></p>
            </form>
            
            <div class="login-form">
                <input id="email" type="text" placeholder="email address" />
                <input id="password" type="password" placeholder="password" />
            </div>
            <input class="w3-button w3-green" type="button" value="Login" onclick="Login()" /> 
            <p class="message">Not registered? <a href="#">Create an account</a></p>
            <div id="Error"></div>
        </div>
    </div>



    <!--===============================================================================================-->
    <script src="~/Login_v1/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Login_v1/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Login_v1/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Login_v1/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Login_v1/vendor/tilt/tilt.jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>


    <script>

        function Login() {

           
            $("#Error").empty();
            $.ajax({
               
                url: "/api/Clients/?email=" + ($("#email").val() + "&password=" + $("#password").val()),		  //הכתובת לשרת ולפונקציה
                contentType: "application/json; charset=utf-8",	   //סוג הנתונים שאנחנו שולחים לשרת
                type: "GET",            //הנתונים עצמם שאנחנו שולחים
                success: function (data) {                       //פונקציה  שתופעל לאחר הצלחה
                    window.location.replace("http://35.189.168.225/MultiLevelMenu-master/index.html");
                },
                error: inErrorCase
                
            });

            //console.log(data);
            
        }
        function SignUp() {
            let s = {
                id: parseInt($("#id").val()),
                name: $("#usernameCreate").val(),
                email:  $("#emailCreate").val(),
                password:  $("#passwordCreate").val()
            };
            console.log(s);
            $("#Error").empty();
           
            $.ajax({

                dataType: "json",			                         //סוג הנתונים שאנחנו מצפים לקבל מהשרת
                url: "/api/Users/HttpPost",			                 //הכתובת לשרת ולפונקציה
                contentType: "application/json; charset=utf-8",	   //סוג הנתונים שאנחנו שולחים לשרת
                type: "POST",				                         //סוג הפעולה
                data: JSON.stringify(s),			                 //הנתונים עצמם שאנחנו שולחים
                success: function (data) {                       //פונקציה  שתופעל לאחר הצלחה
                    window.location.replace("http://35.189.168.225/MultiLevelMenu-master/index.html");
                },
                error: inErrorCase

            });
            
            console.log("Finish Post");
        }

        function inErrorCase()
        {
            let $p = $("<p>").html("Wrong Email or password !");
            $("#Error").append($p);
        }

        function updateStudentName() {

            let stId = $("#stId").val();
            let stName = $("#stName").val();




            $.ajax({

                dataType: "json",			                         //סוג הנתונים שאנחנו מצפים לקבל מהשרת
                url: "/api/student/" + stId,			                 //הכתובת לשרת ולפונקציה
                contentType: "application/json; charset=utf-8",	   //סוג הנתונים שאנחנו שולחים לשרת
                type: "PUT",				                         //סוג הפעולה
                data: JSON.stringify(stName),			                 //הנתונים עצמם שאנחנו שולחים
                success: function (data) {                       //פונקציה  שתופעל לאחר הצלחה
                    getStudents();
                },
                error: inErrorCase

            });

        }
        
    </script>



    

    <!--===============================================================================================-->
    <script src="~/Login_v1/js/main.js"></script>

</body>
</html>