﻿#yourBtn {
    top: 150px;
    font-family: calibri;
    width: 100px;
    padding: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px dashed #BBB;
    text-align: center;
    background-color: #DDD;
    cursor: pointer;
}

.Mybtn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    width: 20%;
    height: auto;
}

.imgAdmin {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height: auto;
}

.Icon {
    position: relative;
    left: 20px;
}

.smallimg {
    width: 70%;
    height: auto;
}
